@font-face {
  font-family: 'Apercu Light';
  src: url('../fonts/apercu_light.ttf');
}

a {
    text-decoration: none;
    color: #555555;
}

a:hover {
    text-decoration: none;
    color: #BBBBBB;
}	

body {
    margin: 2em;
    font-family:"Apercu Light", Georgia, Calibri, Roboto, sans-serif;  
}

.banner {
    margin-bottom:2rem;
}

.logo {
    height:8rem;
    text-align:left;
    margin-bottom:1.5rem;
}

.logo img{
    height:8rem;
    object-fit:scale-down;
}

.menu {
    font-size:1.5rem;
    line-height:2rem;
    text-align:left;
}

.menu-item {
    margin-left:0;
    margin-right:0;
}

.project-title{
    font-size:2rem;
    line-height:1rem;
}

.project-subtitle{
    font-weight:200;
    font-size:1.4rem;
    line-height:1.5rem;
}

.project-paragraph{
    line-height:1.5rem;
    text-align:justify;
    text-justify:auto;
}

.project-description{
    margin-left:0rem;
    list-style-type:none;
    line-height:1.5rem;
}

.img-col{
    padding-top:1em;
    padding-bottom:1em;
}

.img-col-right{
    box-sizing: border-box;
    padding-top:1em;
    padding-bottom:1em;
    padding-left:0em;
}

.img-col-left{
    box-sizing: border-box;
    padding-top:1em;
    padding-bottom:1em;
    padding-right:0em;
}

.img-row{
    display: flex;
    align-items: flex-start;
}

.img-row img {
  width: 100%;
  object-fit:scale-down;
}

@media (min-width: 576px){
  .img-col-left{padding-right:1em;}
  .img-col-right{padding-left:1em;}
}

@media (min-width:768px){
    .logo{text-align:left;}
    .menu{text-align:right;}
    .menu-item{margin-left:0.5rem;}
}

@media (min-width:960px){
  .body{margin:auto;}
  .project-description{margin-left:2rem;}
}
