@font-face {
  font-family: 'Apercu Light';
  src: url('../fonts/apercu_light.ttf');
}

a {
    text-decoration: none;
    color: #BBBBBB;
}

a:hover {
    text-decoration: none;
    color: #333333;
}	

body {
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-family:"Apercu Light", Georgia, Calibri, Roboto, sans-serif;  
}

.banner {
    padding-bottom:1rem;
    border-bottom:1px solid #EEEEEE;
    margin-bottom:1rem;
}

.logo {
    height:4rem;
    text-align:center;
}

.logo img{
    max-height:4rem;
    object-fit:scale-down;
}

.menu {
    margin-top:1.8rem;
    margin-bottom:0rem;
    font-size:1.2rem;
    line-height:1.2rem;
    text-align:center;
}

.menu-item {
    margin-left:0.3rem;
    margin-right:0.3rem;
}

.project-title{
    font-size:2rem;
    line-height:2rem;
}

.project-paragraph{
    line-height:1.5rem;
    text-align:justify;
    text-justify:auto;
    margin-bottom:0.5rem;
}

.project-description{
    margin-top:0em;
    margin-bottom:0em;
    margin-left:0rem;
    line-height:1.5rem;
}

.img-col{
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.img-col-right{
    box-sizing: border-box;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left:0rem;
}

.img-col-left{
    box-sizing: border-box;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-right:0rem;
}

.img-row{
    width:100%;
    display: flex;
    align-items: flex-start;
}

.img-row img {
  width: 100%;
  object-fit:scale-down;
}

.about-left{
    box-sizing: border-box;
}

.about-right{
    box-sizing: border-box;
}

.about-row{
    flex-direction: column-reverse;
}

.palmyra-head{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1em;
    max-width:250px;
}

@media (min-width: 576px){
  .img-col-left{padding-right:0.5rem;}
  .img-col-right{padding-left:0.5rem;}
  body{margin-left:2em; margin-right:2em;}
}

@media (min-width:768px){
    .logo{text-align:left;}
    .menu{text-align:right; margin-top:2.8rem; margin-bottom:0rem;}
    .menu-item{margin-left:0.6rem; margin-right:0rem;}
    .about-left{padding-right:1rem;}
    .about-right{padding-left:1rem;}
    .about-row{flex-direction: row;}
    .palmyra-head{max-width:100%;}
}

@media (min-width:960px){
  .project-description{margin-left:2rem;}
}
