@font-face {
  font-family: 'Apercu Light';
  src: url('../fonts/apercu_light.ttf');
}

body {
    min-height: 100%;
    margin: 2em;
    text-align: left;
    color: #111111;
    font-family:"Apercu Light", Georgia, Calibri, Roboto, sans-serif;
    font-weight:200;
    font-style:normal;  
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    text-decoration: none;
    color: #BBBBBB;
}	

.banner {
    margin-bottom:2rem;
}

.logo {
    font-size:3rem;
    text-align:center;
}

.menu {
    font-size:1rem;
    margin-top:1.5rem;
    margin-bottom:1rem;
    text-align:center;
}

@media (min-width:768px){
    .logo{text-align:left;}
}

@media (min-width:768px){
    .menu{text-align:right;}
}

.menu-item {
    margin-left:0.5rem;
    margin-right:0.5rem;
}
