<!DOCTYPE html>
<html>
    <head>
        <title>PALMYRA PLLC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/normalize.css">
        <link rel="stylesheet" type="text/css" href="./css/grids.css">
        <link rel="stylesheet" type="text/css" href="./css/main.css">
    </head>
    <body> 
        <div class="container">
            <div class="row banner">
              <div class="col-1 col-md-2 logo"> 
                  <a href="./">PALMYRA PLLC</a>
              </div>
              <div class="col-1 col-md-2 menu"> 
            <a class="menu-item" href="./work">Projects</a>
            <a class="menu-item" href="./practice">Practice</a>
            <a class="menu-item" href="./teaching">Teaching</a>
            <a class="menu-item" href="./contact">Contact</a>
              </div>
            </div>	
        </div> 
	  
	    {{content}}
	    
    </body>
</html>
