<!DOCTYPE html>
<html>
    <head>
        <title>PALMYRA PLLC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="./css/normalize.css">
        <link rel="stylesheet" type="text/css" href="./css/grids.css">
        <link rel="stylesheet" type="text/css" href="./css/main.css">
    </head>
    <body> 
        <div class="container">
            <div class="row banner">
              <div class="col-1-1 col-md-1-2 logo"> 
	         	 <a href="./"><img src="./200829_logo.png"></a>
              </div>
              <div class="col-1-1 col-md-1-2 menu"> 
                <a class="menu-item" href="/work">Projects</a>
                <a class="menu-item" href="/work">Practice</a>
                <a class="menu-item" href="/work">Teaching</a>
                <a class="menu-item" href="/work">Contact</a>
              </div>
            </div>
{{content}}
	</div>
    </body>
</html>
